<%= form_for(setup_quote(@quote)) do |f| %>
    <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, placeholder: "Enter quote text", class: "form-control", rows:"5"%>
      </div>
    </div>

    <%= f.fields_for :author do |ff| %>
        <div class="form-group">
          <div class="field">
            <%= ff.label :name, "Author"%><br>
            <%= ff.text_field :name, placeholder: "Enter author's name", class: "form-control" %>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :category_list, "Categories" %> <br>
        <%= f.text_field :category_list, placeholder: "Enter categories separated by comma", class: "form-control" %>
      </div>
    </div>

    <%= button_tag class: "btn btn-primary" do %>
      Submit
    <% end%>

    <%= f.submit 'Cancel', :name => 'cancel', class: "btn btn-default", style: "float: right"%>

<% end %>
