<% 
    display_author = true if local_assigns[:display_author].nil? 
%>
<% quotes.each do |quote| %>
    <div class="quote row vertical-align">
        <div class="row-same-height">
        <div class="col-xs-2 col-xs-height col-middle vote vote-<%=quote.id%>">
            <% if user_signed_in? %>
                <%= render partial: "votes/quote_vote", locals: {quote: quote, current_user_id: current_user.id} %>
            <% else %>
                <span class="fa fa-2x fa-chevron-up gray" aria-hidden="true" data-toggle="tooltip" data-trigger="hover" title="Sign in to upvote"></span>
                <h4 class="vote-count"><%= Vote.quote_count(quote.id) %> </h4>
                <span class="fa fa-2x fa-chevron-down gray" aria-hidden="true" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Sign in to downvote"></span>
            <% end %>
        </div>
        <div class="col-xs-8 col-xs-height quote-text panel panel-default center" id="quote-panel">
            <% div_id = "quote_#{quote.id}" %>
            <div onclick="location.href='<%=quote_path(quote.id)%>';" style="cursor: pointer;" class="panel-body quote-content no-highlight over">
                <%= quote.content %>
                <% if display_author %>
                    <div class="author-name">-  <a class="no-bubble" href="<%= author_path(quote.author_id) %>"><%= quote.author_name %></a> </div>
                <% end %>
                <br>
              <%= javascript_tag do %>
                  $('.no-bubble').click(function(event) {
                    event.stopImmediatePropagation();
                  });

              <% end %>
            </div>
        </div>
        
    <div class="col-xs-2 col-xs-height col-middle center quote-buttons">
        <div class="quote-buttons">
            <% if user_signed_in? %>
                <%
                   @favorite = FavoriteQuote.where(quote_id: quote.id, user_id: current_user.id).first
                %>
                <div class="favorite-<%=quote.id%>">
                    <%= render partial: "favorite_quotes/favorite_block", locals: {quote_id: quote.id, favorite: @favorite, current_user_id: current_user.id} %>
                </div>      
            <% else %>
                 <button style="cursor: default;pointer-events: auto;" type="submit" class="btn btn-default disabled" data-toggle="tooltip" data-trigger="hover" title="Sign in to favorite">
                    <span class="fa fa-2x fa-heart-o" aria-hidden="true"></span>
                </button>
            <% end %>
          <form action="<%= quote_path(quote.id)%>">
            <button type="submit" class="btn btn-default" formtarget="_blank">
              <span class="fa fa-2x fa-comment" aria-hidden="true"></span>
          </form>
            </div>
        </div>
        </div>
    </div>

<% end %>
