<!--<script type="text/javascript" src="home.js"></script> DOESN"t WORK ATM-->
<%= javascript_include_tag "home" %>
<% @quotes.each do |quote| %>
    <div class="quote row">
        <div class="col-xs-2 vote vote-<%=quote.id%>">
            <% if user_signed_in? %>
                <%= render partial: "votes/quote_vote", locals: {quote: quote, current_user_id: current_user.id} %>
            <% else %>
                <span class="fa fa-2x fa-chevron-up gray" aria-hidden="true"></span>
                <h4 class="vote-count"><%= Vote.quote_count(quote.id) %> </h4>
                <span class="fa fa-2x fa-chevron-down gray" aria-hidden="true"></span>
            <% end %>
        </div>
        <div class="col-xs-8 quote-text panel panel-default center" id="quote-panel">
            <!--<script type="text/javascript">

                function isOverflowed(elem) {
                    return elem.scrollHeight > elem.clientHeight || elem.scrollWidth > elem.clientWidth;
                }

                function showMoreOrLess( elem ) {

                    var link=elem;
            
                    do {
                        elem = elem.previousSibling;
                    } while ( elem && elem.nodeType !== 1);


                    if(link.innerHTML == "Show More"){
                        elem.style.maxHeight="none";
                        link.innerHTML="Show Less";
                    } else {
                        elem.style.maxHeight="58px";
                        link.innerHTML="Show More";
                    }

                }
            </script> -->
            <% div_id = "quote_#{quote.id}" %>
            <div class="panel-body quote-content" id="<%= div_id %>">
              <%= quote.content %>
              <%= javascript_tag do %>
                  var curr = document.getElementById("<%= div_id %>");
                  if (isOverflowed(curr)) {
                    $("<a class='see-more' onclick='showMoreOrLess(this);' style='float:right;'>Show More</a>").insertAfter(curr);
                  }
              <% end %>
            </div>

        </div>
        <div class="col-xs-2 center quote-buttons">
            <div class="btn-group ">
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

<% end %>

