<% @quotes.each do |quote| %>
    <div class="quote row">
        <div class="col-xs-2 vote">
            <% if user_signed_in? %>
                <!--<a class="vote-link" data-id="<%=quote.id%>" data-voteType="up">
                    <span class="fa fa-2x fa-chevron-up" aria-hidden="true"></span>
                </a>
                -->
                <%= link_to votes_path, 
                    data: { :method => :post, 
                            :remote => true, 
                            params: { vote: {value: 1, quote_id: quote.id, user_id: current_user.id }}.to_param
                    },
                    class: "vote-link" do
                %>

                    <span class="fa fa-2x fa-chevron-up" aria-hidden="true"></span>
                <% end %>
                <h4 class="vote-count-<%=quote.id%>"><%= Vote.quote_count(quote.id) %> </h4>
                <%= link_to votes_path, 
                    data: { :method => :post, 
                            :remote => true, 
                            params: { vote: {value: -1, quote_id: quote.id, user_id: current_user.id }}.to_param
                    },
                    class: "vote-link" do
                %>
                    <span class="fa fa-2x fa-chevron-down" aria-hidden="true"></span>
                <% end %>
            <% else %>
                <a href="#"><span class="fa fa-2x fa-chevron-up" aria-hidden="true" style="color: red"></span></a>
                <h4 class="vote-count"><%= Vote.quote_count(quote.id) %> </h4>
                <a href="#"><span class="fa fa-2x fa-chevron-down" aria-hidden="true" style="color: red"></span></a>
            <% end %>
        </div>
        <div class="col-xs-8 quote-text panel panel-default center">
            <div class="panel-body"><%= quote.content %></div>
        </div>
        <div class="col-xs-2 center quote-buttons">
            <div class="btn-group ">
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

<% end %>

<script>
    $(document).ready(function(){
        $('.vote-link').bind("ajax:success",
            function(evt, data, status, xhr){
                
            }
        );
        
    });
</script>
<!--
    <div class="quote row">
        <div class="col-xs-1 quote-favorite panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-1 quote-comments panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
-->
