<% @quotes.each do |quote| %>
    <div class="quote row vertical-align">
        <div class="row-same-height">
        <div class="col-xs-2 col-xs-height col-middle vote vote-<%=quote.id%>">
            <% if user_signed_in? %>
                <%= render partial: "votes/quote_vote", locals: {quote: quote, current_user_id: current_user.id} %>
            <% else %>
                <span class="fa fa-2x fa-chevron-up gray" aria-hidden="true"></span>
                <h4 class="vote-count"><%= Vote.quote_count(quote.id) %> </h4>
                <span class="fa fa-2x fa-chevron-down gray" aria-hidden="true"></span>
            <% end %>
        </div>
        <div class="col-xs-8 col-xs-height quote-text panel panel-default center" id="quote-panel">
            <% div_id = "quote_#{quote.id}" %>
            <div class="panel-body quote-content" id="<%= div_id %>">
                <%= quote.content %>
                <p class="author-name">- <%= quote.name %></p>
              <%= javascript_tag do %>
                  var curr = document.getElementById("<%= div_id %>");
                  if (isOverflowed(curr)) {
                    $("<a class='see-more' onclick='showMoreOrLess(this);' style='float:right;'>Show More</a>").insertAfter(curr);
                  }
              <% end %>
            </div>

        </div>
        <div class="col-xs-2 col-xs-height col-middle center quote-buttons">
            <div class="btn-group">
                <button type="button" class="btn btn-default">
                    <span class="fa fa-2x fa-heart-o" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="fa fa-2x fa-comment" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        </div>
    </div>

<% end %>
