<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<%= form_tag(quotes_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Quotes or Authors" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @search_quotes.present? %>
  <%= render :partial => "quote", :collection => @search_quotes %> 
<% elsif @has_search %>
  <p>There are no quotes containing the term(s) <%= params[:search] %>.</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>content</th>
      <th>Author</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.content %></td>
        <td><%= quote.author.name if quote.author %></td>
        <td><%= quote.user %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
