<p id="notice"><%= notice %></p>

<h2><%= "\"#{@quote.content}\""%></h2>
<strong><i><%= link_to @quote.author.name, author_path(@quote.author) %></i></strong>

<hr class="no-pad">

<p style="font-size: 10px; float: right">Submitted by: <%= @quote.user.email %></p>

<br>

<p>
  <strong>Categories:</strong>
    <% @quote.categories.each do |category| %>
        <%= link_to category.content.capitalize, category_path(category)%><%=',' unless category.equal? @quote.categories.last %>
    <% end %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>

