<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quote.author.name if @quote.author %>
</p>

<p>
  <strong>Categories:</strong>
  <ul>
    <% @quote.categories.each do |c| %>
       <li><%= c.content %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>User:</strong>
  <%= @quote.user %>
</p>



<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
