<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @quote.author.name, author_path(@quote.author) %>
</p>

<p>
  <strong>Categories:</strong>
  <ul>
    <% @quote.categories.each do |category| %>
      <li>
        <%= link_to category.content, category_path(category) %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>User:</strong>
  <%= @quote.user.email %>
</p>



<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
