<h2>Edit <%= resource_name.to_s.humanize %></h2>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:"form-horizontal", method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, class:"form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, class:"col-sm-2 control-label" %> <i>&nbsp;&nbsp;&nbsp;(leave blank if you don't want to change it)</i>
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class:"col-sm-2 control-label" %>
    <br/>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class:"col-sm-2 control-label" %> <i>&nbsp;&nbsp;&nbsp;(we need your current password to confirm your changes)</i><br />
    <div class="col-sm-10">
      <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
    </div>
  </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= button_tag class: "btn btn-primary" do %>
            Update
        <% end%>
      </div>
    </div>
<% end %>

<br>
<h2>Delete Account</h2>
<hr>

<div class="col-sm-offset-2 col-sm-10">
  <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
</div>

<%= link_to "Back", :back %>
