<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Quote</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.quote.content %></td>
        <td><%= comment.user.email %></td>
        <td><%= link_to 'Show', quote_comment_path(comment.quote, comment) %></td>
        <td><%= link_to 'Edit', edit_quote_comment_path(comment.quote, comment) %></td>
        <td><%= link_to 'Destroy', quote_comment_path(comment.quote, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_quote_comment_path %>
