<%= cache cache_key_for_author_table(@authors), skip_digest: true do %>
<p id="notice"><%= notice %></p>
<h1>"Who have said things?"</h1>
<hr>

<table class="table table-bordered" id="author-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Quotes</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "author", locals: {authors: @authors} %>
  </tbody>
</table>

<br>
<% end %> <!-- end caching block -->

<%= stylesheet_link_tag "dataTables.fontAwesome.css" %>
<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "dataTables.bootstrap" %>
<script type="text/javascript">
    $(document).ready(function(){
        $('#author-table').DataTable();
    });
</script>
<% if user_signed_in? %>
    <%= render 'authors/form', :object => @author %>
<% end %>
