<p id="notice"><%= notice %></p>
<h1>"Who have said things?"</h1>
<hr>

<table class="table table-bordered" id="author-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quotes</th>
    </tr>
  </thead>

  <tbody>
    <%#= render partial: "author", locals: {authors: @authors} %>
  </tbody>
</table>

<br>

<%= stylesheet_link_tag "dataTables.fontAwesome.css" %>
<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "dataTables.bootstrap" %>
<script type="text/javascript">
    $(document).ready(function(){
        $('#author-table').DataTable( {
            "order": [[1, 'desc'], [0, 'asc']],
            "processing": true,
            "serverSide": true,
            "ajax": "/author_ajax",
            "columns": [
                { "data": "name" },
                { "data": "quote_count" }
            ],
            "columnDefs": [ {
                "targets": 0,
                "data": "content",
                "render": function (data, type, full, meta) {
                    return "<a href='/authors/" + full.id + "'>" + full.name+ "</a>";
                }
            } ]
        });
    });
</script>
<% if user_signed_in? %>
    <%= render 'authors/form', :object => @author %>
<% end %>
<!-- <%= link_to 'New Author', new_author_path %> -->
