<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
  <br/>
  <strong>Quotes:</strong>
  <ul>
    <% @author.quotes.each do |q| %>
        <li>
          <%= q.content %>
        </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
