<p id="notice"><%= notice %></p>

<h2> <%="What has #{@author.name} said?"%></h2>
<hr>

<ul>
    <%= render partial: "authors/quote_block", locals: {quotes: @author_quotes} %>
</ul>

<!--<%= link_to 'Edit', edit_author_path(@author) %> -->

<% unless @author_quotes.nil? %>
    <div>
        <%= paginate @author_quotes, :params => {:tab => "authors"} %>
        <%= page_entries_info @author_quotes %>
    </div>
<% end %>

<br>
<div>
    <%= link_to 'Back', url_for(:action => 'index', :anchor => 'authors', :controller => 'home') %>
</div>

