<p id="notice"><%= notice %></p>
<div id="alert-placeholder"></div>

<h2> <%="What has #{@author.name} said?"%></h2>
<hr>
<ul>
  <% @author_quotes.each do |quote| %>
    <%= render partial: "quotes/quote_block", locals: {quote: quote, display_author: false, author: @author.name} %>
  <% end %>
</ul>
<% unless @author_quotes.nil? %>
    <div>
      <div class="pages">
        <%= link_to_previous_page @author_quotes, '<i class="fa fa-angle-double-left fa-3x"></i>'.html_safe, {:class => "left-arrow"} %>
        <div class="page-number"><%= params[:page] %></div>
        <%= link_to_next_page @author_quotes, '<i class="fa fa-angle-double-right fa-3x"></i>'.html_safe %>
      </div>
    </div>
<% end %>


