<p id="notice"><%= notice %></p>
<div id="alert-placeholder"></div>

<div class="row">
  <div class="page-header">
      <h1 class="title">What's on your mind?</h1>
  </div>

  <%= render partial: "searches/search" %>

  <br>
  <div class="nav">
      <ul class="nav nav-tabs nav-justified" role="tablist" id="quoteTabs">
          <li role="presentation">
              <a href="?tab=trending" aria-controls="trending">Trending</a>
          </li>
          <li role="presentation">
              <a href="?tab=all-time" aria-controls="all-time">All Time</a>
          </li>
          <li role="presentation">
              <a href="?tab=new" aria-controls="new">New</a>
          </li>
      </ul>
  </div>
</div>
<br>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<div class="row" id="quotes">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active">
          <%# cache(cache_key_for_quotes(@quotes, params[:tab], params[:page])) do %>
              <% @quotes.each do |quote| %>
                  <%= cache cache_key_for_quote(quote, params[:tab], params[:page]) do %>
                      <%= render partial: "quotes/quote_block", locals: {quote: quote} %>
                  <% end %>
              <% end %>
          <%# end %>
          <% unless @quotes.nil? %>
              <div class="pages">
                <div class="left-arrow"><%= link_to_previous_page @quotes, '<i class="fa fa-angle-double-left fa-3x"></i>'.html_safe, :params => {:tab => @tab_id } %></div>
                <div class="page-number"><%= params[:page] %></div>
                <%= link_to_next_page @quotes, '<i class="fa fa-angle-double-right fa-3x"></i>'.html_safe, :params => {:tab => @tab_id } %>
                <%= link_to new_quote_path do %>
                  <i class="fa fa-plus fa-2x pull-right" data-toggle="tooltip" title="Add a quote"></i>
                <% end %>
              </div>
          <% end %>
        </div>
    </div>
</div>

<br>

