<div class="row">
  <div class="page-header">
      <h1 class="title">What's on your mind?</h1>
  </div>

  <%= form_tag(quotes_path, :method => "get", id: "search-form",
               :class => "form-inline", :name => "search-form", :onsubmit => "return (validate());") do %>
      <div class="input-group">
        <span class="input-group-addon searchbar" id="search-label">Search</span>

        <div class="form-group searchbar-text" name="search-bar">
            <%= text_field_tag :search, params[:search],
                                 placeholder: "Search Quotes or Authors",
                                 class: "form-control searchbar-text", name: "search" %>
        </div>
        <span class="input-group-btn searchbar">
            <button type="submit" class="btn btn-default">
              <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </span>
      </div>
  <% end %>

  <br>
  <div class="nav">
      <ul class="nav nav-tabs nav-justified" role="tablist" id="quoteTabs">
          <li role="presentation">
             <!-- used to be <a href="#trending" aria-controls="trending" role="tab" data-toggle="tab"> -->
              <a href="?tab=trending" aria-controls="trending">Trending</a>
          </li>
          <li role="presentation">
              <a href="?tab=all-time" aria-controls="all-time">All Time</a>
          </li>
          <li role="presentation">
              <a href="?tab=new" aria-controls="new">New</a>
          </li>
      </ul>
  </div>
</div>
<br>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<!-- @quotes is populated depending on the "tab" parameter(defaults to trending) -->
<div class="row" id="quotes">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active">
          <%= render partial: "quotes/quote_block", locals: {quotes: @quotes} %>
          <% unless @quotes.nil? %>
              <div>
                <%= paginate @quotes, :params => {:tab => @tab_id} %>
                <%= page_entries_info @quotes %>
                <%= link_to new_quote_path do %>
                  <i class="fa fa-plus fa-2x pull-right" data-toggle="tooltip" title="Add a quote"></i>
                <% end %>
              </div>
          <% end %>

        </div>

        </div>

    </div>

</div>



<% @tab_id = params[:tab] ? "#quoteTabs a[href=" + %Q(##{params[:tab]}) + "]" : "#quoteTabs a:trending" %>

<% content_for :footer do %>
    <script>
        $(function () {
            $('#<%= @tab_id %>').tab('show');
        })
    </script>
<% end %>


<!-- A lot faster when left inline instead of in a separate js file -->
<script type="text/javascript">
    $(function() {
        // Javascript to enable link to tab
        var hash = document.location.hash;
        if (hash) {
            console.log(hash);
            $('.nav-tabs a[href='+hash+']').tab('show');
        }

        // Change hash for page-reload
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        });
    });

</script>
