<%= javascript_include_tag "validate" %>

<div class="row">
  <%= link_to new_quote_path do %>
    <i class="fa fa-plus fa-3x pull-right" style="color:green"></i>
  <% end %>
  <div class="page-header">
      <h1>What's on your mind?&nbsp;&nbsp;&nbsp;<i><small>Quotopia</small></i></h1>
  </div>

  <%= form_tag(quotes_path, :method => "get", id: "search-form",
               :class => "form-inline", :name => "search-form", :onsubmit => "return (validate());") do %>
      <div class="input-group">
        <span class="input-group-addon searchbar" id="search-label">Search</span>

        <div class="form-group searchbar-text" name="search-bar">
            <%= text_field_tag :search, params[:search],
                                 placeholder: "Search Quotes or Authors",
                                 class: "form-control searchbar-text", name: "search" %>
        </div>
        <span class="input-group-btn searchbar">
            <button type="submit" class="btn btn-default">
              <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </span>
      </div>
  <% end %>

  <br>
  <div class="nav">
      <ul class="nav nav-tabs nav-justified" role="tablist" id="quoteTabs">
          <li role="presentation" class="active">
              <a href="#trending" aria-controls="trending" role="tab" data-toggle="tab">Trending</a>
          </li>
          <li role="presentation">
              <a href="#all-time" aria-controls="all-time" role="tab" data-toggle="tab">All Time</a>
          </li>
          <li role="presentation">
              <a href="#random" aria-controls="random" role="tab" data-toggle="tab">Random</a>
          </li>
          <li role="presentation">
              <a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">Categories</a>
          </li>
      </ul>
  </div>
</div>
<br>
<div class="row" id="quotes">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="trending">
          <%= render partial: "quotes/quote_block", locals: {quotes: @quotes} %>
          <% unless @quotes.nil? %>
              <div>
                <%= paginate @quotes, :params => {:tab => "trending"} %>
                <%= page_entries_info @quotes %>
              </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="all-time">
            <h1>all-time</h1>
        </div>
        <div role="tabpanel" class="tab-pane" id="random">
            <h1>random</h1>
        </div>
        <div role="tabpanel" class="tab-pane" id="categories">
            <h1>categories</h1>
            <% @categories.each do |category| %>
                <div>
                  <%= link_to category.content, category %>
                </div>
            <% end %>
        </div>

    </div>
</div>

<% @tab_id = params[:tab] ? "#quoteTabs a[href=" + %Q(##{params[:tab]}) + "]" : "#quoteTabs a:trending" %>

<% content_for :footer do %>
    <script>
        $(function () {
            $('#<%= @tab_id %>').tab('show');
        })
    </script>
<% end %>

<!-- A lot faster when left inline instead of in a separate js file -->
<script type="text/javascript">
    $(function() {
        // Javascript to enable link to tab
        var hash = document.location.hash;
        if (hash) {
            console.log(hash);
            $('.nav-tabs a[href='+hash+']').tab('show');
        }

        // Change hash for page-reload
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        });
    });
</script>
