<!-- Needs quote_id, favorite_id and current_user -->
<% @favorite_quote = FavoriteQuote.new %>

<% if favorite_id.nil? %>
    <%= form_for(@favorite_quote, :html => {:class => "btn-group", :remote => true}) do |f| %>
        <%= f.hidden_field :quote_id, value: quote_id %>
        <%= f.hidden_field :user_id, value: current_user_id %>
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
            <span class="fa fa-2x fa-heart-o" aria-hidden="true"></span>  
        <% end %>
    <% end %>

    
<% else %>
    <%= form_tag({controller: "favorite_quotes", action: "destroy", id: favorite_id}, method: "delete", class: "btn-group", remote: true) do |f| %>
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
            <span class="fa fa-2x fa-heart" aria-hidden="true"></span>
        <% end %>
    <% end %>

<% end %>

