<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @favorite_quote.quote_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @favorite_quote.user_id %>
</p>

<%= link_to 'Edit', edit_favorite_quote_path(@favorite_quote) %> |
<%= link_to 'Back', favorite_quotes_path %>