<%= form_for(@category, remote: true) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group form-inline">
        <%= f.label :content, class: "sr-only" %>
        <%= f.text_field :content, placeholder: "Enter category name", class: "form-control" %>
      </div>

      <%= button_tag class: "btn btn-primary" do %>
          Submit
      <% end%>
<% end %>
