<p id="notice"><%= notice %></p>

<h1>Which Categories?</h1>
<hr>

<table class="table table-bordered" id="category-table">
  <thead>
    <th>Name</th>
    <th>Quotes</th>
  </thead>
  <tbody>
  </tbody>
</table>

<br>

<%= stylesheet_link_tag "dataTables.fontAwesome.css" %>
<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "dataTables.bootstrap" %>
<script type="text/javascript">
    $(document).ready(function(){
        $('#category-table').DataTable( {
            "order": [[1, 'desc'], [0, 'asc']],
            "processing": true,
            "serverSide": true,
            "ajax": "/category_ajax",
            "columns": [
                { "data": "content" },
                { "data": "quote_count" }
            ],
            "columnDefs": [ {
                "targets": 0,
                "data": "content",
                "render": function (data, type, full, meta) {
                    return "<a href='/categories/" + full.id + "'>" + full.content + "</a>";
                }
            } ]
        });
    });
</script>

<% if user_signed_in? %>
    <%= render 'categories/form', :object => @category %>
<% end %>
