<p id="notice"><%= notice %></p>

<h1>Which Categories?</h1>
<hr>

<table class="table table-bordered">
  <thead>
    <th>Rank</th>
    <th>Name</th>
    <th>Quotes</th>
  </thead>
  <tbody>
    <% @sorted.each_with_index do |category, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= link_to category.content.capitalize, category %></td>
          <td><%= category.quotes.length %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
