<p id="notice"><%= notice %></p>

<h1>Which Categories?</h1>
<hr>

<table class="table table-bordered" id="category-table">
  <thead>
    <th>Rank</th>
    <th>Name</th>
    <th>Quotes</th>
  </thead>
  <tbody>
    <%= cache cache_key_for_category_table(@sorted) do %>
        <%= render partial: "category", locals: {categories: @sorted} %>
    <% end%>
  </tbody>
</table>

<br>

<%= stylesheet_link_tag "dataTables.fontAwesome.css" %>
<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "dataTables.bootstrap" %>
<script type="text/javascript">
    $(document).ready(function(){
        $('#category-table').DataTable();
    });
</script>

<% if user_signed_in? %>
    <%= render 'categories/form', :object => @category %>
<% end %>
