<p id="notice"><%= notice %></p>
<div id="alert-placeholder"></div>

<h2> <%="What's #{@category.content.capitalize}?"%></h2>
<hr>
<ul>
  <% @quotes.each do |quote| %>
      <%= cache cache_key_for_category_quote(@category, quote, params[:page]) do %>
        <%= render partial: "quotes/quote_block", locals: {quote: quote, categories: @category} %>
      <% end %>
  <% end %>
</ul>
<% unless @quotes.nil? %>
    <div>
      <div class="pages">
        <%= link_to_previous_page @quotes, '<i class="fa fa-angle-double-left fa-3x"></i>'.html_safe, {:class => "left-arrow"} %>
        <div class="page-number"><%= params[:page] %></div>
        <%= link_to_next_page @quotes, '<i class="fa fa-angle-double-right fa-3x"></i>'.html_safe %>
      </div>
    </div>
<% end %>


