<p id="notice"><%= notice %></p>

<h2> <%="What's #{@category.content.capitalize}?"%></h2>
<hr>

<ul>
  <%= render partial: "categories/quote_block", locals: {quotes: @search_quotes} %>
</ul>

<!--<%= link_to 'Edit', edit_category_path(@category) %> |-->

<% unless @quotes.nil? %>
    <div>
      <%= paginate @quotes, :params => {:tab => "categories"} %>
      <%= page_entries_info @quotes %>
    </div>
<% end %>

<br>
<div>
    <%= link_to 'Back', url_for(:action => 'index', :anchor => 'categories', :controller => 'home') %>
</div>
