<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.content %>
</p>

<p>
  <strong>Quote(s):</strong>
  <ul>
    <% @category.quotes.each do |quote| %>
        <li>
          <%= link_to quote.content, quote_path(quote) %>
        </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
