<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @category.content %>
</p>

<p>
  <strong>Quote(s):</strong>
  <ul>
    <% @category.quotes.each do |q| %>
        <li><%= q.content %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
