<!DOCTYPE html>
<html>
<head>
  <title>Quotopia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Quotopia</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
                <%= link_to "Login", new_user_session_path, :id => "login-btn", 
                    :class => "btn btn-default navbar-btn", :method => :get %>
                <%= link_to "Sign up", new_user_registration_path, :id => "sign-up-btn",
                    :class => "btn btn-default navbar-btn", :method => :get %>
            </div>
        </div>
    </nav>
    <div id="main-container" class="container">
        <%= yield %>
    </div>

</body>
</html>
